@font-face {
    font-family: "font-normal";
    src: url("/assets/fonts/Figtree-VariableFont_wght.ttf");
}

@font-face {
    font-family: "font-italic";
    src: url("/assets/fonts/Figtree-Italic-VariableFont_wght.ttf");
}

body{
    background-color: #F5D04E;
    font-family: "font-normal";
}

section {
    /* Dimensiones */
    min-height: 100vh;
    /* Centrado */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    /* Dimensiones */
    width: 340px;
    height: 480px;
    padding: 20px;
    /* Borde y sombras */
    border: solid 2px black;
    border-radius: 20px;
    box-shadow: red 7px 7px; /* Desplazameintos x, y */
    /* Color */
    background-color: #ffffff;
    
}

.card__image {
    border-radius: 10px;
}

.card__header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card__header__badge {
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    padding: 7px 14px;
    margin: 0px 0px;
    /*background-color: #F5D04E;*/
    background-color: red;
}

.card__header__time {
    font-size: 14px;
    font-weight: bold;
}

.card__header__title {
    font-size: 24px;
    font-weight: bold;
}

.card__footer {
    
}

.card__image {
    
}

.card__author {
    
}