@font-face {
    font-family: "font-normal";
    src: url("/assets/fonts/Figtree-VariableFont_wght.ttf");
}

@font-face {
    font-family: "font-italic";
    src: url("/assets/fonts/Figtree-Italic-VariableFont_wght.ttf");
}

body{
    background-color: #F5D04E;
    font-family: "font-normal";
}

.card {
    border: solid 2px black;
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 10px 10px; /* Desplazameintos x, y */
}

.card__image {
    border-radius: 1rem;
}

.card__header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card__header__badge {
    border-radius: 10%;
    padding: 0.5rem;
    background-color: #F5D04E;
}

.card__header__time {
    
}

.card__header__title {
    
}

.card__footer {
    display: flex;
}

.card__image {
    
}

.card__author {
    
}